* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow: hidden;
    background: var(--app-bg);
    color: var(--app-fg);
    scrollbar-width: none;

    /* Hide scrollbars in Webkit browsers (Chrome, Safari, Edge) */
    &::-webkit-scrollbar {
        display: none;
    }
}

#root {
    width: fit-content;
    min-width: 100vw;
    min-height: 100vh;
}
